/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
assets/js/cljs-runtime/*
assets/js/manifest.edn
assets/main.js
.clj-kondo/
.dir-locals.el
.lsp/
node_modules/
.shadow-cljs/
.sass-cache/
report.html
