{:root "/home/fsousa/src/flaviosousa.co"
 :base-url "https://flaviosousa.co"
 :social {:linkedin "https://www.linkedin.com/in/fjsousa/"
          :medium "https://medium.com/@fjsousa"
          :github "https://github.com/fjsousa"
          :rss "rss.xml"}
 :title "flaviosousa.co"
 :head-title "flaviosousa.co, Software Engineer"
 :sub-title "Software Engineer"
 :meta-description "Personal website. Past projects, bit of blogging."
 :short-about "Flavio Sousa personal website. Past projects, bit of blogging."
 :skip #{:about :available-styles}
 }
